<div class="search">
  <form action="<%- config.root %>search/index.html" method="get" accept-charset="utf-8">
    <input type="text" id="st-search-inpu" name="q" results="0" placeholder="search">
  </form>
</div>